body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.column img {
    width: 50%;
    height: auto;
    border: 2px solid #E8E8EB;
    margin-bottom: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.column img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.container {
  position: relative;
  width: 100%;
  text-align: center;
}

.image {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 25%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}